.flyDetails{
    display: flex;
}
.personalDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}
.seatChoice{
    height: 10rem;
    clip-path: polygon(
          40% 70%,
          38% 56%,
          
          
          40% 30%,
          40% 23%,
          40% 14%,
          42% 8%,
          46% 4%,
          50% 0%,
          54% 3%,
          58% 8%,
          60% 14%,
          60% 23%,
          60% 30%,
          
          
          
          60% 70%,
          57% 86%,
          70% 96%,
          53% 93%,
          50% 100%,
          48% 93%,
          30% 96%,
          43% 85%
        );
        background-color: black;
}