<div class="container">
  <div class="flyDetails">
    <p class="fromTo">From to</p>
    <p class="departureDate">Departure date</p>
    <p class="total">Total cost:</p>
  </div>
  <div class="passenger">
    <div class="ticketGroup">ticketGroup</div>
    <div class="personalDetails">
      <label for="name">Name:</label>
      <input type="text" name="name" />
      <label for="surname">Surname:</label>
      <input type="text" name="surname" />
      <label for="seat">Seat:</label>
      <input type="text" name="seat" />
      <label for="luggage"></label>
      <select name="luggage" id="luggage">
        <option value="standard">Carry-on baggage only</option>
        <option value="extra">Checked baggage</option>
      </select>
      <p class="price">Total price:</p>
    </div>
  </div>
  <div class="plane">
    <div class="seatChoice">1</div>
  </div>
</div>
