.container {
  width: 100%;
  
  position: absolute;
  top: 5rem;
  left: 0;
  display: grid;
  grid-template-rows: 5rem 2% 30% 400px;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/pictures/sky.jpg");
  background-repeat: no-repeat;

  @media (orientation:landscape){
    grid-template-rows: 5rem 2% 30% 800px;
    grid-template-columns: repeat(6,1fr);
    background-size: cover;
    
  }
  

  .flyDetails {
    width:70%;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1r);
    grid-template-rows: repeat(2, 1r);;
    position: relative;
    top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0 2rem 15%;
    text-align: center;
    

    @media (orientation:landscape){
      grid-column: 2/span 4;
    }

    .fromTo{
      grid-row: 1;
      grid-column: 1/span 2;
      margin: 0;
      padding: 0;
    }
    .departureDate{
      grid-row: 2;
      grid-column: 1;
      margin: 0;
      padding: 0;
    }
    .total{
      grid-row:2;
      grid-column:2 ;
      margin: 0;
      padding: 0;
    }
    
    

  }
 
  .cancelSeat{
    width: 80%;
    margin:0 10%;
    background-color: #00abfb8c;
    grid-row: 2;
    font-weight: bold;
    height: 2rem;

    @media (orientation:landscape){
      grid-column: 1/span 3;
      font-size: 1rem;
    }
  }
  .tickets {
    background-color: #b5cae165;
    width:90%;
    max-height: 80%;
    margin:0 0 0 5%;
    grid-row: 3;
   overflow:scroll;
    box-shadow: 0px 0px 10px 10px white;

    @media (orientation:landscape){
      grid-column: 1/span 3;
      margin:10% 0 0 5%;
    }


    .passenger {
      padding: 0.5rem;
      
      display: flex;
      flex-direction: column;
      background-color: #b5cae165;
      border: 2px solid white;
      border-radius: 5px;
      
      
      .personalDetails {
        
        overflow: hidden;
        min-height: 9rem;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4, 1fr);
        height: 1.3rem;

        input{
          font-size: 1rem;
          
        }

        select{
          font-size: 1rem;
        }
      
      }
    }
  }
  .plane {
    grid-row: 5;
    width: 100%;
    height: 90vh;
    background-color: black;
    transform: scaleY(2);
    border-radius: 40% 40% 0 0;
    display: flex;
    margin: 1rem 0;
    padding: 0;
   
    

    @media (orientation:landscape){
      max-width:400px;
      max-height: 80vmin;
      margin-top: 40vmin;
      grid-row: 3;
      grid-column: 5/span 2;
      
    }

    h4 {
      margin-left: 30%;
      width: 40%;
      height: 4rem;
      z-index: 99;
      color: white;
      text-align: center;
    }
    .seats {
      height: 65%;
      width: 100%;
      display: grid;
      grid-template-columns: 10% repeat(2, 1fr) 15% repeat(2, 1fr) 10%;
      border: none;
      position: absolute;
      top: 25%;

      @media (orientation:landscape){
        height: 50%;
      }

      button {
        background-color: orange;
        text-align: left;
        border: 1px solid white;
        text-align: center;
        font-weight: bold;
      }

      button[name="checked"] {
        background-color: red;
      }
      .columnA {
        grid-column: 2;
      }
      .columnB {
        grid-column: 3;
        margin-left: 0.5rem;
      }
      .columnC {
        grid-column: 5;
      }
      .columnD {
        grid-column: 6;
        margin-left: 0.5rem;
      }
    }

    .moreRows {
      height: 65%;
      width: 100%;
      display: grid;
      grid-template-columns: 10% repeat(3, 1fr) 15% repeat(3, 1fr) 10%;
      border: none;
      position: absolute;
      top: 15%;

      button {
        background-color: orange;
        text-align: left;
        border: 1px solid white;
        text-align: center;
        font-weight: bold;
      }

      button[name="checked"] {
        background-color: red;
      }
      .columnA {
        grid-column: 2;
      }
      .columnB {
        grid-column: 3;
        margin-left: 0.5rem;
      }
      .columnC {
        grid-column: 4;
        margin-left: 0.5rem;
      }
      .columnD {
        grid-column: 6;
      }
      .columnE {
        grid-column: 7;
        margin-left: 0.5rem;
      }
      .columnF {
        grid-column: 8;
        margin-left: 0.5rem;
      }
    }
  }
}
