.container {
width: 100%;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  .flyDetails {
    display: flex;
    position: relative;
    top: 0;
  }
  .tickets {
    overflow: scroll;
    scrollbar-color: #2f43bb #b5cae1;
    scrollbar-width: thin;
    max-height: 50rem;
    .passenger {
      box-shadow: 1px 1px 3px #00adfb;
      .personalDetails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }
  }
  .plane {
    width: 100%;
    background-color: black;
    border-radius: 50% 50% 0 0;
    .seats {
       height: 80%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border: none;

      button {
        background-color: orange;
        text-align: left;
       border:1px solid white;
      }

      button[name="checked"]{
        background-color: red;
       }
      .columnA {
        grid-column: 1;
      }
      .columnB {
        grid-column: 2;
      }
      .columnC {
        grid-column: 4;
      }
      .columnD {
        grid-column: 5;
      }
    }
  }
}
