.wholeFlyChoice {
  width: 100%;
  min-height: 100%;
  background-image: url("../../../assets/pictures/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  margin: none;
  position: absolute;
  top:6rem;
  

  .weather {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #00adfb;
    font-weight: bold;

    @media (orientation:landscape){
      width:60%;
      margin-left: 20%;
    }

    p {
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
    }

    .option {
      display: flex;
      gap: 1rem;
      width: 95%;
      max-width:550px;
      margin-bottom: 0.5rem;

      label {
        font-size: 1.3rem;
        color: #00adfb;
        font-weight: bold;
        font-family: Tahoma, sans-serif;
        
      }

      select {
        display: inline;
        background-color:inherit;
        border: none;
        border-radius: 5px;
        min-height: 25px;
        font-size: 1.3rem;
        color: #00adfb;
        font-weight: bold;
        margin-bottom: 0.5rem;

        option {
          border: none;
          font-size: 1.3rem;
          color: #00adfb;
          font-weight: bold;
          font-family: Tahoma, sans-serif;
          
        }
      }
    }

    .weatherForecast {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      width: 95%;

      .weatherDay {
        padding-top: 0.5rem;
        width: 18%;
        max-width:80px;
        max-height: 113px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 3px #00adfb;
        border-radius: 5%;

        p {
          margin: 0;
          padding: 0;
          font-size: 1rem;
          font-weight: lighter;
          text-align: center;
        }

        img {
          width: 90%;
          height: 80%;
          max-height: 50px;
          max-width:60px;
        }
      }
    }
  }
  .container {
    height: 65vh;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;

    @media (orientation: landscape) {
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 80vmin;
      top:15%;

      @media (min-height: 720px) {
        height: 80%;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      align-content: space-around;
      flex-wrap: wrap;
      gap: 0.5rem;
      border-radius: 5%;
      position: absolute;
      top: 0;

      @media (orientation: landscape) {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      div {
        width: 95%;
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 2rem;
        border-radius: 3px;

        label {
          height: 2rem;
         
          text-align: center;
          font-size: 1rem;
          border-left: 3px solid white;
          border-right: 3px solid white;
          border-top: 3px solid white;
          background-color: #b5cae165;
          border-radius: 10px 10px 0 0;
        }

        select,
        input {
          height: 2.5rem;
          
          border: none;
          background-color: #b5cae165;
          outline: none;
          text-align: center;
          font-size: 1.5rem;
          line-height: 2rem;
          border-bottom: 3px solid white;
          border-left: 3px solid white;
          border-right: 3px solid white;
          border-radius: 0 0 10px 10px;

          option{
            overflow: scroll;
          }
          
        }

        
      }
      .submit {
        margin-left: 1%;
        width: 98%;
        height: 3rem;
        background-color: #00abfb8b;
        box-shadow: 10px 10px 20px #00adfb;

        @media (orientation: landscape) {
          margin-left: 50%;
          font-size: 1.3rem;

          @media (max-height:576px){
            font-size: 1rem;
          }
        }
      }
    }
  }
}
