<div class="weather" *ngIf="departure.value !== ''">
  {{ departure.value }} weather forecast
  <div class="weatherForecast">
    <ng-container *ngFor="let day of dailyWeatherForecast">
      <div class="weatherDay">
        <p class="date">{{day.date|date:'dd.MM'}}</p>
        <img
          src="{{ 'assets/pictures/' + day.weather + '.png' }}"
          alt="{{ day.weather }}"
        />
        <p class="temperature">{{ day.temp }}<span>&#8451;</span></p>
      </div>
    </ng-container>
  </div>
</div>

<div class="container">
  <form #flyForm="ngForm" >
    <div class="departure">
      <label for="departure">Departure airport</label>
      <select
        name="departure"
        ngModel
        #departure="ngModel"
        (click)="arrivalAirportsOpen(departure.value)"
        [disabled]="disable === true"
        required
      >
        <option style="display: none"></option>
        <option *ngFor="let fly of availableDepartures" [value]="fly">
          {{ fly }}
        </option>
      </select>
    </div>
    <div class="arrival">
      <label for="arrival">Arrival airport</label>
      <select
        name="arrival"
        ngModel
        #arrival="ngModel"
        required
        (click)="departureAirports(arrival.value)"
        [disabled]="disable === true"
      >
        <option style="display: none"></option>
        <option *ngFor="let fly of availableArrivals" [value]="fly">
          {{ fly }}
        </option>
      </select>
    </div>
    <div class="calendar">
      <ng-container *ngIf="departure.value !== '' && arrival.value !== ''">
        <label for="departureDay">Departure day:</label>
        <input
          required
          type="date"
          (click)="openCalendar()"
          [ngModel]="fromCalendar.departureDate | date : 'yyyy-MM-dd'"
          [ngModelOptions]="{ standalone: true }"
        />
      </ng-container>
    </div>
    <div class="passengers">
      <ng-container *ngIf="departure.value !== '' && arrival.value !== ''">
        <label for="passenger">Number of passengers:</label>
        <input
          required
          (click)="openPassengerChoice()"
          [ngModel]="passengersNumber"
          [ngModelOptions]="{ standalone: true }"
        />
      </ng-container>
    </div>
    <button
      type="submit"
      class="submit"
      *ngIf="
        departure.value !== '' &&
        arrival.value !== '' &&
        fromCalendar.departureDate !== undefined &&
        passengersNumber > 0
      "
      (click)="buy()"
    >
      BUY
    </button>
  </form>
</div>
