.main {
  width: 90%;
  position: relative;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .form {
    font-size: 1.5rem;
    width: 100%;
    justify-self: center;

    .label {
      padding: 2rem 0 0.5rem 1rem;
      width: 100%;
    }

    p {
      margin: 0;
      font-size: 1rem;
    }

    .choice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      
  

      button {
        border-radius: 50%;
        border: 1px solid #00adfb;
        box-shadow: 2px 2px 5px #00adfb;
        color: black;
        margin: 1px;
       width:22px;
       height: 22px;
        
      }

      input{
        @media (orientation:landscape){
          font-size: 1.1rem;
        }
      }
    }
    .warning {
      margin-left: 1px;
      color: #c86208;
    }

    .submit {
      width: 90%;
      margin: 2rem 5%;
      height: 3rem;

      @media (orientation:landscape){
        font-size: 1.2rem;
      }

    }
  }
  
}
