.main{
    width: 98%;
    position: relative;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .form {
        font-size: 1.5rem;
        width: 100%;
        justify-self: center;
      
        .label {
          padding:2rem 0 0 1rem;
          width: 100%;
        }
      
        p {
          margin: 0;
          font-size: 1rem;
        }
      
      
        .choice {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap:1rem;
          padding-left:1rem;
          
      
          button {
            border-radius: 50%;
            border: 1px solid #00adfb;
            box-shadow: 2px 2px 5px #00adfb;
            color: black;
            margin: 1px;
            min-width: 14px;
            min-height: 14px;
          }
        }
      
        .submit{
          width: 98%;
          margin: 2rem 2%;
          height: 3rem;
          border: 1px solid #00adfb;
          background-color: white;
          box-shadow: 2px 2px 1px #455060;
        }
      }
    .warning{
        margin-left: 1px;
        color: #c86208;
    }
}

