@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;


    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        button{
            cursor: pointer;
        }
    }

    @media (min-width:768px) {
        font-size: 1.5rem;
    }
}

.color{
    color:#05080f, #455060, #b5cae1, #e6eaed and #c86208, #00adfb, #2f43bb, #3f3ced 
}